{% extends 'base.html.twig' %}

{% block title %}My_Crowdin Project{% endblock %}

{% block body %}

      <p>
       Welcome to my_crowdin project
      </p>

        {% if app.user %}
        Hello {{ app.user.username }}, you can access your dashboard
        {% else %}
      <p>
          <a href="{{ path('fos_user_security_login') }}">LOGIN</a>



      </p>
      <p>
        Would you like to be part of our amazing community of devoted translaters ? </br>
      </p>

      <p>
      Don&#145t hesitate and join us now !
      </p>

      <p>
        <a href="{{ path('fos_user_registration_register') }}">REGISTER</a>

      </p>
        {% endif %}
{% endblock %}
